body {
    height: 100;
    margin: 0;
    padding: 0;
}

textarea {
    width: 300px;
    height: 200px;
}

button {
    background-color: #B22E2A;
    color: white;
    display: block;
    margin: 0 auto;
    border-width: 10px;
    border-style: none;
}

.logos img {
    max-width: 20px; /* Ensures the image does not exceed its container */
    height: auto; /* Maintains the aspect ratio of the image */
    margin-right: 10px;
}

.logos{
    margin-left: 30px;
}

form{
    margin-left: 30px;
    margin-right: 30px;
}