@import url('https://fonts.googleapis.com/css2?family=Kavoon&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lilita+One&display=swap');

.header{
  border-style: dashed;
  border-color: white;
  padding: 2px;
  /* background-color: white; */
  /* border-width: 3.5px; */
  background-image: url('./Images/background.jpg'); /* Update with the correct path */
  background-size: cover;
  /* height: 37vh; */
  /* position: relative; */
  margin-left: 20px;
  margin-right: 20px;
  
}
.logo-container {
    padding: 10px; /* Adjust as needed */
  }
  
.logo-container img {
    max-width: 80px; /* Ensures the image does not exceed its container */
    height: 80px; /* Maintains the aspect ratio of the image */
}

.logo-text1 {
  font-family: 'Kavoon';
  font-size: 25px; /* Adjust the font size as needed */
  color: white;  /*#B22E2A */
  text-align: center; /* Center the text horizontally */
  font-weight: bold;
  line-height: 1.2; /* Adjust the line height for spacing between lines */
  margin-top: -20px;
}

.logo-text2 {
  font-family: 'Lilita One';
  font-size: 40px; /* Adjust the font size as needed */
  text-align: center; /* Center the text horizontally */
  font-weight: bold;
  line-height: 1; /* Adjust the line height for spacing between lines */
  /* margin-top: -60px; */
} 




ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333333b4;
  display: flex;
  padding: 10px 10px;
  margin-top: 25px;
  
} 
 

li {
  display: flex;
} */

.active {
  border-right: 1px solid #bbb;
  background-color: #04AA6D;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  /* margin-right: 0.5px; */
}

li a:hover:not(.active) {
  background-color: #B22E2A ;
}

li.account{
   float: right;
}

@media (max-width: 768px) {
  .nav-list.show {
    display: block;
  }
}